   {% include 'index/base.html' %}

{% block content %}
<div class="container">
<h1  style="font-family: Jua"> Add item</h1>



<form method="POST">
  {% csrf_token %}
      <label>Product</label> {{ form.product}} </br>
      <label>order</label> {{ form.order}} </br>
      <label>QTY</label> {{ form.quantity}} </br>
      <label>Current Amount</label> {{ form.current_amount}} </br>
      <label>Product Location</label>{{ form.product_location}} </br>

  <button class="btn btn-default" style="background-color: #2ac1bc; color: #fff;" type="submit">Save</button>
  <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
<a class = "btn btn-info pull-right"  style="background-color: #2ac1bc; color: #fff; border-color: #2ac1bc;" onclick="showPopup()"
  > Check/Search Product </a>
</form>


<script language="javascript">
  function showPopup() {
      window.open("	http://127.0.0.1:7002/suhyun/search", "a", "width=600, height=300, left=450, top=50"); }
  </script>





</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock content %}
